html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(167, 174, 192);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.img {
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  padding: 5px;
}

header {
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
  color: rgb(5, 5, 5);
}

main {
  display: flex;
  justify-content: center;
  font-size: larger;
  flex-direction: column;
}

.about-me {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.info {
  width: 500px;
  height: 250px;
  background-color: rgba(238, 234, 234, 0.996);
  padding: 15px;
  margin: 15px;
  color: black;
}

.education {
  width: 500px;
  height: 250px;
  background-color: rgb(134, 162, 191);
  padding: 15px;
  margin: 15px;
  color: white;
}

.education h1 {
  padding-left: 15px;
}

.my-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.languages {
  background-color: rgba(238, 234, 234, 0.996);
  width: 750px;
  height: 250px;
  padding: 15px;
  margin: 15px;
}

.languages h1 {
  padding-left: 15px;
}

.skills {
  background-color: rgb(134, 162, 191);
  width: 250px;
  height: 250px;
  padding: 15px;
  margin: 15px;
  color: white;
}

.skills h1 {
  padding-left: 15px;
}

.code {
  background-color: rgba(238, 234, 234, 0.996);
  width: 750px;
  height: 250px;
  padding: 15px;
  margin: 15px;
}

.contacts {
  background-color: rgb(134, 162, 191);
  width: 250px;
  height: 250px;
  padding: 15px;
  margin: 15px;
  font-size: medium;
  color: white;
}

.contacts h1 {
  padding-left: 15px;
}

.facebook {
  display: flex;
  flex-direction: row;
}

.facebook p {
  font-size: larger;
  padding-left: 15px;
  margin: 5px;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone p {
  font-size: larger;
  padding-left: 15px;
  margin: 5px;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.email p {
  font-size: larger;
  padding-left: 15px;
  margin: 5px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  margin-right: 40px;
}

.rs-school {
  margin-left: 40px;
}

.date {
  letter-spacing: 2px;
  font-size: larger;
}
